body {
    margin: 50px 50px 0 50px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}
.main {
    flex: 1;
}
h1 {
    font-family: 'Mina', sans-serif;
    text-align: center;
}
.logo {
    width: 100%;
}

.poza {
    width: 200px;
    margin: 20px;
    display: inline-block;

}
.card {
    width: 100%;
}
h2 {
    text-align: center;
}
h3 {
    font-size: 1.5rem;
    text-align: justify;
    margin: 25px 50px 0px 20px;
}
.bine {
   font-size: 2rem;
}
.naturale {
    color: green;
}
.cont {
    text-align: right;
    margin-right: 50px;
    font-size: 1.6rem;
}
.info {
    font-size: small;
    margin-left: 0px;
}
.despre {
    margin-left: 30px;
    width: 100%
}
@media (max-width: 680px) {
    .logo {
        width: 100%;
    }
    .bine {
        font-size: 1.5rem;
    }
    .cont {
        text-align: right;
        margin-right: 50px;
        font-size: 1.1rem;
    }
    h1 {
        text-align: center;
    }
    h3{
        font-size: 1.1rem;
        text-align: justify;
        margin: 15px 25px 0px 10px;
    }
    .card {
        width: 100%;
    }
    .info{
        font-size: small;
        margin-left: 0px;
    }
    .despre{
        margin-left: 30px;
        width: 100%
    }
    .poza {
        display: inline;
    }
}
